{% extends "layout.html" %}
{% block title %} EBike Snooper {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
  <div class="container">
   {% for region, stations in region_status.items() %}
    <div>{{ region + ': {} bikes'.format(stations[0]) }}</div>
      <ul>
        {% for station in stations[1:] %}
        <li>{{ station }}</li>
        {% endfor %}
        </ul>
{% endfor %}
  </div>
{% endblock %}

{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{#    <title>EBike Snooper</title>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">#}
{#    <style type="text/css">#}
{#      .container {#}
{#        max-width: 500px;#}
{#        padding-top: 100px;#}
{#      }#}
{#    </style>#}
{#  </head>#}
{#  <body>#}
{#    <div class="container">#}
{#       {% for region, stations in region_status.items() %}#}
{#        <div>{{ region + ': {} bikes'.format(stations[0]) }}</div>#}
{#          <ul>#}
{#            {% for station in stations[1:] %}#}
{#            <li>{{ station }}</li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#      {% endfor %}#}
{#    </div>#}
{#  </body>#}
{#</html>#}